/* Blog homePage */
.blog-home {
    max-width: 900px;
    margin: auto;
    padding: 80px 4%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.blog-home p {
    text-align: justify;
}

.blog-home a {
    color: unset;
}

/* Article */
.article-tags {
    margin-left: 16px;
    padding: 4px 10px;
    max-width: fit-content;    
    background-color: rgb(26, 224, 0);
    color: white;
    font-weight: 550;
    box-shadow: 0px -2px 6px rgb(26, 224, 0);
}

article {
    padding: 0.8em;
    box-shadow: 0px 0px 10px lightslategrey;
    max-height: 500px;
}

article:hover {
    box-shadow: 0 0 10px rgb(75, 75, 75);
}

.article-desc {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 1em;
}

article div div {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

.article-desc img{
    object-fit: contain;
    box-shadow: 0 0 10px gray;
}

article h3 {
    font-weight: 400;
    font-size: 1.1rem;
    text-indent: 5%;
    padding: 0 1em 1em 0;
}


/* Medias */
@media (max-width: 940px) {
    .article-desc{
        flex-direction: column;
    }
}