.contact {
    max-width: 1200px;
    margin: 80px auto 0;
    padding: 0 4%;
}

.contact h1 {
    margin: 2vh 0 10px;
}

.map-wrap iframe{
    margin: 20px 0 40px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 0 10px grey;
}