.faq {
    max-width: 100ch;
    margin: 80px auto 0;
    padding: 0 4%;
}

.faq h2{
    margin: 20px 0 0;
}

.faq ul{
    margin: 8px 44px;
    list-style-type: square;
    line-height: 1.75;
}

.faq p{
    margin-top: 16px;
    text-indent: 3ch;
    line-height: 1.75;
}