/* Section= HIW-Headline */
.hiw-headline {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0, 183, 255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0, 183, 255,1) 100%);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0, 183, 255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#00d4ff",GradientType=1);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 11rem 4% 12rem;
}

.hiw-headline h1 {
    margin: 0 auto 2.5rem;
    font-weight: 500;
    font-size: 1.75rem;
}

.hiw-headline h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0 auto;
    max-width: 34ch;
    /* text-shadow: 4px 4px 4px rgb(161, 161, 161); */
}

.hiw-headline h3 {
    margin: 2.5rem auto;
    max-width: 74ch;
    font-size: 1rem;
}

.hiw-headline a{
    padding: 0.625rem 3.5rem;
    align-content: center;
    border-radius: 20px;
    color: black;
    background-color: white;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.30);
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.hiw-headline a:hover {
    color: white;
    background-color: rgb(35, 112, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.60);
    transition: ease-out 0.3 s;
}

/* Section= Customer Segmentation */
.customer-segmentation {
    margin: 4.5rem auto 0;
    padding: 0 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.customer-segmentation h2{
    font-size: 1.5rem;
    text-align: center;
}

.customers {
    margin: 3rem auto 6rem;
    max-width: 125rem;
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

 .customers img {
    width: 100%;
    max-width: 300px;
    object-fit: contain;
 }

 .customers h3 {
    max-width: 16ch;
    margin: auto;
    text-align: center;
 }

.customer-segmentation a {
    margin: 0 auto 1rem;
    padding: 1rem 2rem;
    border-radius: 20px;
    background-color: rgb(40, 90, 255);
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

.customer-segmentation p {
    text-align: center;
    margin: 0 auto;
    max-width: 72ch;
}

/* Section= Main Features */
.main-features {
    padding: 0 4%;
}

.main-features h2 {
    margin: 6.25rem auto 7.5rem;
    font-size: 2.25rem;
    color: rgb(0, 34, 109);
    text-align: center;
    max-width: 46ch;
}

.main-features h3 {
    font-size: 1.75rem;
    text-align: center;
}

/* Features Carousel */
#mainCarousel {
    max-width: 62.5rem;
    margin: 2.5rem auto;
    padding: 0 8%;
    border-radius: 30px;
    box-shadow: 0 0 10px black;
    background-color: rgb(37, 95, 255);
    z-index: 0;
}

#envCarousel {
    max-width: 62.5rem;
    margin: 2.5rem auto;
    padding: 0 8%;
    border-radius: 30px;
    box-shadow: 0 0 10px black;
    background-color: rgb(255, 135, 37);
    z-index: 0;
}

.carousel-item {
    position: relative;
    height: 36rem;
    max-height: 40rem;
    color: white;
    text-align: center;
}

.container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

.container img {
    object-fit: contain;
    max-height: 26em;
    scale: 0.8;
    padding: 1%;
}

/* Section= Environmental */
.environmental {
    background: rgb(255,255,255);
    background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(86,194,83,1) 20%, rgba(86,194,83,1) 80%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(86,194,83,1) 20%, rgba(86,194,83,1) 80%, rgba(255,255,255,1) 100%);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(86,194,83,1) 20%, rgba(86,194,83,1) 80%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
    margin: 0 auto;
    padding: 0 4%;
    display: flex;
    flex-direction: column;
}
.environmental h3 {
    margin: 3.75rem auto ;
    padding: 3.75rem 0 2rem;
    text-align: center;
    font-size: 1.75rem;
}

.env-feature {
    margin: 0 auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    max-width: 70rem;
    column-gap: 3.75rem;
}

.env-feature img {
    width: 100%;
    max-width: 400px;
    object-fit: contain;
 }

 .env-feature h4 {
    font-size: 1.5rem;
    text-align: center;
    background-color: white;
    width: fit-content;
    padding: 0.625rem 1.5rem;
    border-radius: 20px;
 }

 .env-feature p {
    font-size: 1.25rem;
    margin: 2rem 1.5rem;
    max-width: 50ch;
 }

 .interest {
    margin: 0 auto 5.75rem;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: rgb(40, 90, 255);
    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 20px;
 }

 /* Section= Extra Features */
 .extra-features {
    margin: 5rem auto 0;
    padding: 0 4%;
    display: flex;
    flex-direction: column;
 }
 
 .extra-features h4 {
    margin: 0 auto;
    font-size: 1.75rem;
    text-align: center;

 }

 #faq-btn {
    margin: 0 auto 5rem;
    text-align: center;
    font-size: 1.125rem;
    color: black;
    text-decoration: none;
 }


 @media (max-width: 940px) {
 .customers {
    justify-content: center;
 }
 .env-feature {
    flex-wrap: wrap;
 }
}