/* Index Page */

html body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.whitespace {
    margin-top: 15vh;
}

.welcome {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.welcome h1{
    text-wrap: nowrap;
    font-size: 3rem;
    text-align: left;
    width: 50%;
    text-align: left;
    margin: 0 20% 0 20%;
    font-weight: 700;
}

.welcome h2 {
    margin: 0 0 0 20%;
}

.welcome-image1 {
    max-width: 40%;
    min-width: 350px;
    max-height: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px grey;
    margin: 0 10% 0px 10%;
    object-fit: cover;
}

.welcome-desc {
    max-width: 80%;
    margin: 5% 10% 5% 10%;
}

.adopters h2{
    font-variant: small-caps;
    padding-left: 10%;
    margin-bottom: 1%;
}

.logos {
    box-shadow: 0px 0px 10px grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: white;
    padding: 20px 20px 20px 20px;
    gap: 50px;
}

.adopters-logos {
    max-width: 45%;
    max-height: 80px;
    object-fit: contain;
}

/* Call To Action Button */

.calltoaction {
    margin: 35% 5% 5% 20%;
    font-weight: 650;
    max-width: fit-content;
    text-wrap: nowrap;
    background-color: rgb(28, 81, 255);
    padding: 1px 20px 3px 20px;
    box-shadow: 0px 0px 10px gray;
    border-radius: 10px;
}

.calltoaction a{
    text-decoration: none;
    color: aliceblue;
}

.calltoaction:hover {
    background-color: rgb(14, 80, 202);
    cursor: pointer;
}

/* About us Page */

.about {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    margin-top: 160px;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 510px;
    background-color: rgb(255, 255, 255);
    padding: 5px 30px 10px 30px;
    box-shadow: 0px 0px 10px gray;
    border-radius: 10px;
}

/* Scroll to Top Button */

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 250px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #007bff;
    font-size: large;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 30px;
  }
  
  #scrollToTopBtn:hover {
    background-color: #0056b3;
  }

/* Footer */

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px 5% 20px 5%;
    margin-top: 100px;
    box-shadow: 0px 0px 16px rgb(22, 73, 240);
    border-top: 3px solid white;
}

footer .trademark {
    margin-top: 20px;
    font-size: 14px;
}

.footerflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

footer hr{
    border: 1px solid rgb(88, 88, 88);
}


/* Footer Links */

    /* Social Media */

.socialmedia {
    width: auto;
    text-align: right;
    margin: 0px;
    padding-right: 5%;
}

.socialmedia ul{
    list-style: none;
    text-align: right;
    margin-top: 6px;
}
.socialmedia a{
    color: white;
    text-decoration: none;
}

.socialmedia a:hover{
    color: rgb(52, 118, 218);
    text-decoration: none;
}

    /* Quick Links (FAQ, Contact, PP, Cookies) */

.quicklinks {
    width: auto;
    text-align: left;
    margin: 0px;
    padding-left: 5%;
}

.quicklinks ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin-top: 6px;
}

.quicklinks a{
    color: white;
    text-decoration: none;
}

.quicklinks a:hover{
    color: rgb(52, 118, 218);
    text-decoration: none;
}
