* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

/* Root Varieties*/
:root {
    --color-themed: rgb(25, 91, 233);
    --color-light-themed: rgb(165, 165, 165);
    --color-grey: grey;
    --color-dark-grey: rgb(72, 76, 117);
}
:root {
    --color-text-themed: var(--color-themed);
    --color-text-light-themed: var(--color-light-themed);
    --color-text-neutral: black;
    --color-text-white: white;
    --color-text-grey: var(--color-grey);
    --color-text-dark-grey: var(--color-dark-grey);
}
:root {
    --color-icon-themed: var(--color-themed);
    --color-icon-neutral: ;
    --color-icon-grey: var(--color-grey);
}
:root {
    --color-border-themed: var(--color-themed);
    --color-border-neutral: ;
    --color-border-grey: var(--color-grey);
}
:root {
    --color-background-themed: var(--color-themed);
    --color-background-neutral: white;
    --color-background-grey: var(--color-grey);
    --color-background-: ;
    --color-background-: ;
    --color-background-: ;
    --color-background-: ;
    --color-background-: ;
}

/* Header */
header {
    grid-area: header;
    justify-content: space-between;
    position: fixed;
    /* inset: top; */
    width: 100%;
    /* height: 60px; */
    /* padding: 8px; */
    background-color: var(--color-background-neutral);
    box-shadow: 5px 0 10px gray;
    border-bottom: 1px solid gray;    
}

header img {
    height: 60px;
    opacity: 80%;
    transition: 0.3s;
}

header img:hover {
    opacity: 100%;
    transition: .3s;
}

/* Body */
body {
    background-color: var(--color-background-neutral);
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
}

/* Navigation Menu */ 
nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
}

nav li {
    height: 60px;
    margin-right: 10px;
    text-align: right;
}

nav a {
    height: 100%;
    color: inherit;
    padding: 0 1vw;
    display: flex;
    align-items: center;
    font-weight: 600;
}

nav li:first-child {
    margin-right: auto;
}

nav ul li:nth-child(-n+5) :hover {
    color: rgb(74, 74, 223);
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(0px);
    border-bottom: 4px solid rgb(74, 74, 223);
}

nav ul li:nth-last-child(2) {
    padding: 8px 0px;
    margin: 0 1.5rem 0 ;
    height: auto;
    border-radius: 150px;
    color: white;
    width: fit-content;
    background-color: var(--color-background-themed);
    box-shadow: 0 0 10px var(--color-border-grey);
    cursor: pointer;
}

nav ul li:nth-last-child(2):hover {
    background-color: rgb(51, 51, 252);
}

nav ul li:nth-last-child(1) {
    color: red;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: hsla(0, 0%, 100%, 0.4);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    box-shadow: -4px 0 10px rgb(180, 180, 180);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

/* Main Area */
.dark-mode {
    background-color: rgb(24, 24, 54);
    color: rgb(192, 185, 255);
    transition: 0.3s;
}

.dark-mode-btn {
    position: fixed;
    margin: 38rem 0 10rem 106rem;
    padding: 0.6rem;
    border: 0;
    font-weight: 600;
    box-shadow: 0 0 10px var(--color-border-grey);
    transition: 0.4s;
}

.dark-mode-btn:hover {
    background-color: rgb(1, 1, 104);
    color: var(--color-text-light-themed);
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 0 0 10px black;
}

/* General Page Layout */
main {
    grid-area: main;
    margin: 60px auto 0;
    padding: 0 4%; 
    max-width: 1200px;
    /* min-height: 100vh; */
    /* min-height: 100dvh; */
    background-color: white;
    transition: 0.3s;
}

/* Index Page */

.landing-page {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1rem;
    margin: 2em auto 0;
    align-items: center;
    justify-content: space-between;
}

.headline {
    max-width: 46%;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.landing-page img {
    max-width: 50%;
    object-fit: contain;
    margin: auto;
}

.headline h1 {
    font-weight: 600;
    font-size: 30px;
}

.headline h2 {
    font-weight: 400;
    font-size: 20px;
    max-width: 46ch;
}

.headline h3 {
    margin: 2.6rem 0 0.6rem 0;
    max-width: 40ch;
}

/* CTA Headline Button */

.CTA {
    margin: 0rem 0 4rem 0;
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.cta-button {
    padding: 8px 16px;
    max-width: fit-content;
    text-wrap: nowrap;
    border-radius: 64px;
    color: var(--color-text-white);
    box-shadow: 4px 4px 10px gray;
    font-size: 1.275rem;
    font-weight: 600;
    text-align: center;
    background-color: var(--color-themed);
}

.cta-button:hover {
    background-color: blue;
    box-shadow: 2px 2px 10px gray;
    cursor: pointer;
}

.supporters {
    margin: 2rem auto 4rem;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.supporters a img{
    max-height: 100px;
    margin-bottom: 2rem;
    transition: transform 0.3s ease-in-out;
}

.supporters a img:hover{
    transform: scale(1.06);
    
}

/* General Landing Page Feature Rules */

/* .feature1 h3{
    font-size: 1.4rem;
    color: var(--color-text-themed);
    padding-bottom: 1em;
}

.feature1 {
    align-self: center;
    padding: 2em;
    max-width: 42ch;
    color: var(--color-text-dark-grey);
    font-weight: 600;
    font-size: 1.1rem;
}

.feature2 {
    align-self: center;
    justify-self: right;
    text-align: right;
    padding: 2em;
    max-width: 42ch;
    color: var(--color-text-dark-grey);
    font-weight: 600;
    font-size: 1.1rem;
}

.feature2 h3{
    font-size: 1.4rem;
    color: var(--color-text-themed);
    padding-bottom: 1em;
}

.feature-image{
    display: block;
    width: auto;
    max-width: 90%;
    object-fit: cover; 
    justify-self: center;
    image-rendering: optimizeSpeed;
    box-shadow: 0 0 10px var(--color-border-grey);  
} */

/* .land-faq{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    padding: 4em 2em;
    flex-direction: column;
}

.land-faq h3{
    margin-top: 1.4em;
}

.land-faq p{
    text-indent: 24px;
    margin-top: 0.4em;
} */

/* Early Bird Page */
.earlybird {
    max-width: 90ch;
    margin: auto;
    padding: 80px 4%;
    /* text-align: justify; */
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.par-start {
    text-indent: 5%;
    line-height: 1.3rem;
    
}

.earlybird h2 {
    padding-top: 1.2em;
    color: var(--color-text-themed);
}

.earlybird h3 {
    padding: 1.2em 5% 0 5%;
    color: rgb(0, 0, 124);
}

.responsive {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    height: auto;
    box-shadow: 0 0 10px gray;
    image-rendering: optimizeSpeed;
}

/* About Us Page */
.about {
    max-width: 1000px;
    margin: auto;
    padding: 80px 4%;
    display: flex;
    flex-direction: column;
}

.about h1{
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
    url(/images/whiteboard-and-person-scaledown.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    color: var(--color-text-white);
    padding: 16%;
    margin-bottom: 10px;
    text-align: center;
}

.about h2{
    margin: 30px 0 6px;
    max-width: 80%;
}

.about p{
    margin-top: 12px;
    text-indent: 20px;
}

/* Blog homePage */
.blog-home {
    max-width: 900px;
    margin: auto;
    padding: 80px 4%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.blog-home p {
    text-align: justify;
}

.blog-home a {
    color: unset;
}

/* Article */
.article-tags {
    margin-left: 16px;
    padding: 4px 10px;
    max-width: fit-content;    
    background-color: rgb(26, 224, 0);
    color: white;
    font-weight: 550;
    box-shadow: 0px -2px 6px rgb(26, 224, 0);
}

article {
    padding: 0.8em;
    box-shadow: 0px 0px 10px lightslategrey;
    max-height: 500px;
}

article:hover {
    box-shadow: 0 0 10px rgb(75, 75, 75);
}

.article-desc {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 1em;
}

article div div {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

.article-desc img{
    object-fit: contain;
    box-shadow: 0 0 10px gray;
}

article h3 {
    font-weight: 400;
    font-size: 1.1rem;
    text-indent: 5%;
    padding: 0 1em 1em 0;
}

/* Footer */
footer {
    grid-area: footer;
    background-color: rgb(50, 50, 50);
    color: white;
    box-shadow: 0px 0px 16px rgb(22, 73, 240);
    border-top: 3px solid white;
}

footer a{
    color: white;
}

footer a:hover{
    color: rgb(52, 118, 218);
    text-decoration: underline;
}

footer .trademark {
    margin: 20px auto 1rem auto;
    padding: 0 1rem 0 1rem;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2rem;
    row-gap: 1rem;
}

/* Footer Links */
.footerLinks{
    margin-left: auto;
    margin-right: auto;
    padding: 2.4rem;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem;
    justify-content: space-between;
}

.mission{
    max-width: 40%;
}

.mission a{
    color: rgb(52, 118, 218);
}

.footerLinks div ul{
    list-style-type: none;
    color: white;
    line-height: 1.6rem;
}

.footerLinks h4{
    margin-bottom: 12px;
}

.footerForm{
    display: flex;
    width: fit-content;
    box-shadow: 0 0 10px var(--color-background-neutral);
}

.footerForm input{
    padding: 6px 10px;
    border: 0;
    border-radius: 0;
    outline: none;
    font-size: 16px;
}

.footerForm button{
    padding: 6px 12px;
    border: 0;
    background-color: var(--color-background-themed);
    transition: 0.4s;
    color: var(--color-text-white);
    font-size: 16px;
    font-weight: 600;
}

.footerForm button:hover{
    cursor: pointer;
    background-color: var(--color-dark-grey);
    transition: 0.4s;
}

.newsletter span{
    display: block;
    margin-top: 8px;
    color: greenyellow;
}

#copyright {
    padding: 1rem 1rem 1.4rem 1rem;
    text-align: center;
    font-size: 0.9em;
    background-color: rgb(0, 0, 0);
}

    /* Social Media */

.socialmedia ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 6px;
    font-size: 30px;
}
.socialmedia a{
    color: white;
    text-decoration: none;
}

.socialmedia a:hover{
    color: rgb(52, 118, 218);
}

/* Medias */
@media (max-width: 940px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
    .article-desc{
        flex-direction: column;
    }
    .mission{
        max-width: 100%;
    }
    .headline{
        max-width: 100%;
        font-size: 15px;
    }
    .landing-page img {
        max-width: 100%;
    }
    main {
        max-width: 700px;
    }
}

@media (max-width: 400px) {
    .sidebar{
        width: 100%;
    }
}