* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

/* Root Varieties*/
:root {
    --color-themed: rgb(19, 19, 223);
    --color-light-themed: rgb(165, 165, 165);
    --color-grey: grey;
    --color-dark-grey: rgb(72, 76, 117);
}
:root {
    --color-text-themed: var(--color-themed);
    --color-text-light-themed: var(--color-light-themed);
    --color-text-neutral: black;
    --color-text-white: white;
    --color-text-dark-grey: var(--color-dark-grey);
}
:root {
    --color-icon-themed: var(--color-themed);
    --color-icon-neutral: ;
    --color-icon-grey: var(--color-grey);
}
:root {
    --color-border-themed: var(--color-themed);
    --color-border-neutral: ;
    --color-border-grey: var(--color-grey);
}
:root {
    --color-background-themed: var(--color-themed);
    --color-background-neutral: white;
    --color-background-grey: var(--color-grey);
    --color-background-: ;
    --color-background-: ;
    --color-background-: ;
    --color-background-: ;
    --color-background-: ;
}

/* Header */
header {
    grid-area: header;
    justify-content: space-between;
    position: fixed;
    /* inset: top; */
    width: 100%;
    /* height: 60px; */
    /* padding: 8px; */
    background-color: var(--color-background-neutral);
    box-shadow: 5px 0 10px gray;
    border-bottom: 1px solid gray;    
}

header img {
    height: 60px;
    opacity: 80%;
    transition: 0.3s;
}

header img:hover {
    opacity: 100%;
    transition: .3s;
}

/* Body */
body {
    background-color: var(--color-background-neutral);
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 2fr 8fr 2fr;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
}

/* Navigation Menu */ 
nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
}

nav li {
    height: 60px;
}

nav a {
    height: 100%;
    color: inherit;
    padding: 0 1vw;
    display: flex;
    align-items: center;
}

nav li:first-child {
    margin-right: auto;
}

nav ul li:nth-child(-n+5) :hover {
    color: rgb(74, 74, 223);
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(0px);
    border-bottom: 4px solid rgb(74, 74, 223);
}

nav ul li:nth-last-child(2) {
    padding: 8px 0px;
    margin-right: 1.5rem;
    height: auto;
    border-radius: 150px;
    color: white;
    width: fit-content;
    background-color: rgb(74, 74, 223);
    box-shadow: 0 0 10px var(--color-border-grey);
    cursor: pointer;
}

nav ul li:nth-last-child(2):hover {
    background-color: rgb(51, 51, 252);
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: hsla(0, 0%, 100%, 0.4);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    box-shadow: -4px 0 10px rgb(180, 180, 180);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

/* Main Area */
.dark-mode {
    background-color: rgb(24, 24, 54);
    color: rgb(192, 185, 255);
    transition: 0.3s;
}

.dark-mode-btn {
    position: fixed;
    margin: 48rem 0 10rem 106rem;
    padding: 0.6rem;
    border: 0;
    font-weight: 600;
    box-shadow: 0 0 10px var(--color-border-grey);
    transition: 0.4s;
}

.dark-mode-btn:hover {
    background-color: rgb(1, 1, 104);
    color: var(--color-text-light-themed);
    cursor: pointer;
    transition: 0.4s;
    box-shadow: 0 0 10px black;
}

/* General Page Layout */
main {
    grid-area: main;
    margin-top: 80px;
    min-height: 100vh;
    min-height: 100dvh;
    background-color: white;
    transition: 0.3s;
}

/* Index Page */
.wrapper {
    display: grid;
    margin: 4rem auto 12rem auto;
    padding: 2rem;
    justify-items: center;
    max-width: 1200px;
    column-gap: 2rem;
    row-gap: 8rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.headline {
    align-self: center;
    max-width: 60ch;
    min-height: 40dvh;
}

.headline h1 {
    color: blue;
    margin-bottom: 1rem;
}

.headline h2 {
    color: rgb(93, 93, 255);
    font-weight: 400;
    max-width: 36ch;
}

/* CTA Headline Button */

.CTA {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.cta-button {
    padding: 8px 24px;
    max-width: fit-content;
    border-radius: 64px;
    color: var(--color-text-white);
    box-shadow: 4px 4px 10px gray;
    font-size: 1.275rem;
    font-weight: 600;
    text-align: center;
    background-color: var(--color-themed);
}

.cta-button:hover {
    background-color: blue;
    box-shadow: 2px 2px 10px gray;
    cursor: pointer;
}

/* General Landing Page Feature Rules */

.feature1 h3{
    font-size: 1.4rem;
    color: var(--color-text-themed);
    padding-bottom: 1em;
}

.feature1 {
    align-self: center;
    padding: 2em;
    max-width: 42ch;
    color: var(--color-text-dark-grey);
    font-weight: 600;
    font-size: 1.1rem;
}

.feature2 {
    align-self: center;
    justify-self: right;
    text-align: right;
    padding: 2em;
    max-width: 42ch;
    color: var(--color-text-dark-grey);
    font-weight: 600;
    font-size: 1.1rem;
}

.feature2 h3{
    font-size: 1.4rem;
    color: var(--color-text-themed);
    padding-bottom: 1em;
}

.feature-image{
    display: block;
    max-width: 100%;
    object-fit: cover; 
    image-rendering: optimizeSpeed;
    box-shadow: 0 0 10px var(--color-border-grey);  
}

.land-faq {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

/* Blog homePage */
.blog-home {
    max-width: 900px;
    margin: auto;
    padding: 80px 4%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.blog-home a {
    color: unset;
}

.article-tags {
    margin-left: 16px;
    padding: 4px 10px;
    max-width: fit-content;    
    background-color: rgb(26, 224, 0);
    color: white;
    font-weight: 550;
    box-shadow: 0px -2px 6px rgb(26, 224, 0);
}

article {
    padding: 0.8em;
    box-shadow: 0px 0px 10px lightslategrey;
    max-height: 500px;
}

.article-desc {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 1em;
}

article div div {
    display: flex;
    flex-direction: column;
}

.article-desc img{
    object-fit: contain;
    box-shadow: 0 0 10px gray;
}

article h3 {
    font-weight: 400;
    text-indent: 5%;
    padding: 0 1em 1em 0;
}

/* Footer */
footer {
    grid-area: footer;
    background-color: rgb(17, 17, 17);
    color: white;
    text-align: center;
    padding: 30px 5% 20px 5%;
    box-shadow: 0px 0px 16px rgb(22, 73, 240);
    border-top: 3px solid white;
}

footer .trademark {
    margin-top: 20px;
    font-size: 14px;
}

.footerflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
}

footer hr{
    border: 1px solid rgb(88, 88, 88);
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

/* Footer Links */

    /* Social Media */

.socialmedia ul{
    list-style: none;
    text-align: right;
    margin-top: 6px;
}
.socialmedia a{
    color: white;
    text-decoration: none;
}

.socialmedia a:hover{
    color: rgb(52, 118, 218);
}

    /* Quick Links (FAQ, Contact, PP, Cookies) */

.quicklinks {
    text-align: left;
}

.quicklinks ul {
    list-style-type: none;
    margin-top: 6px;
}

.quicklinks a{
    color: white;
    text-decoration: none;
}

.quicklinks a:hover{
    color: rgb(52, 118, 218);
}


/* Medias */

@media (max-width: 820px) {
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
    .article-desc{
        flex-direction: column;
    }
}

@media (max-width: 400px) {
    .sidebar{
        width: 100%;
    }
}