.supplier a{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    font-weight: 500;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 60%;
    text-align: left;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 10px gray;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.supplier p{
    display: block;
}


.supplier a:hover{
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}

.supplier img{
    max-width: 40%;
    height: 100px;
    object-fit: cover;
}

.supplier .item {
    max-width: 30%;
    height: 100px;
    border-radius: 6px;
}

.flexlist {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flexlist::after {
    content: "";
    width: 860px;
  }