* {
    margin: 0;
    padding: 0;
    font-family: Tahoma, Verdana, Segoe, sans-serif;;
}

/* Root Varieties*/
:root {
    --color-themed: rgb(19, 19, 223);
    --color-light-themed: rgb(165, 165, 165);
    --color-grey: grey;
    --color-dark-grey: rgb(72, 76, 117);
}
:root {
    --color-text-themed: var(--color-themed);
    --color-text-light-themed: var(--color-light-themed);
    --color-text-neutral: black;
    --color-text-white: white;
    --color-text-dark-grey: var(--color-dark-grey);
}
:root {
    --color-icon-themed: var(--color-themed);
    --color-icon-neutral: ;
    --color-icon-grey: var(--color-grey);
}
:root {
    --color-border-themed: var(--color-themed);
    --color-border-neutral: ;
    --color-border-grey: var(--color-grey);
}
:root {
    --color-background-themed: var(--color-themed);
    --color-background-neutral: white;
    --color-background-grey: var(--color-grey);
    --color-background-: ;
    --color-background-: ;
    --color-background-: ;
    --color-background-: ;
    --color-background-: ;
}

/* Header */
header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 8px;
    background-color: var(--color-background-neutral);
    box-shadow: 5px 0 10px gray;
    border-bottom: 1px solid;    
}

header img {
    height: 60px
}

/* Body */
body {
    background-color: var(--color-background-neutral);
    display: grid;
    grid-template-rows: 80px 190vh 220px;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: "header header header" ". main ." "footer footer footer";
}

/* Navigation Menu */
.nav-menu ul{
    display: flex;
    align-items: center;
    gap: 1.6vw;
    margin: 12px 24px 12px 0;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
}

    /* Search Bar */
.search-bar input {
    width: 20vw;
    padding: 4px 1vw;
    font-size: 1rem;
    border-radius: 64px;
    border: 1px solid gray;
    box-shadow: 0 0 2px gray inset;
}

.nav-menu ul li:nth-child(-n+4) :hover {
    color: rgb(74, 74, 223);
    border-bottom: 4px solid rgb(74, 74, 223);
}

.nav-menu ul li:nth-last-child(1) {
    padding: 8px 24px;
    border-radius: 150px;
    color: white;
    background-color: rgb(74, 74, 223);
    box-shadow: 0 0 10px var(--color-border-grey);
    cursor: pointer;
}

.nav-menu ul li:nth-last-child(1):hover {
    background-color: rgb(51, 51, 252);
}

.nav-menu a {
    text-decoration: none;
    color: inherit;
}

/* Main Area */
main {
    grid-area: main;
}

/* First Paragraph */
.first-main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center ;
    margin: 80px 0 60px 0;
}

    /* Left Section */
.left-section {
    width: 40%;
}

.first-main h1 {
    margin: 0% 0 0 0;
    font-size: 2.rem;
    text-align: left;
    color: var(--color-text-light-themed);
}

.colored-main-words {
    color: var(--color-text-themed);
}

.first-main p {
    margin: 4px 0;
    width: 80%;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-text-dark-grey);
}

        /* Call-to-Action Button */
.cta-button {
    margin: 60px 0;
    padding: 8px 24px;
    min-width: max-content;
    border-radius: 64px;
    box-shadow: 4px 4px 10px gray;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    background-color: var(--color-themed);
}

.cta-button:hover {
    background-color: blue;
    box-shadow: 2px 2px 10px gray;
    cursor: pointer;
}

.first-main a {
    color: var(--color-text-white);
    text-decoration: none;
}

.CTA {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: max-content;
}

.CTA p a{
    margin-left: 20px;
    font-size: 1.1rem;
    color: black;
}
.CTA p a:hover {
    color: rgb(74, 74, 223);
    border-bottom: 4px solid rgb(74, 74, 223);
}

    /* Right Section */
.right-section {
    width: 60%;
}

.right-section img {
    max-width: 100%;
    min-width: 400px;
    object-fit: contain;
}


/* Trusted Partners */
.adopters h2{
    font-variant: small-caps;
    margin-bottom: 1%;
}

.logos {
    box-shadow: 0px 0px 10px var(--color-border-grey);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: var(--color-background-neutral);
    padding: 20px 20px 20px 20px;
    gap: 50px;
}

.adopters-logos {
    max-width: 12%;
    max-height: 80px;
    object-fit: contain;
}

/* Second Paragraph */
.second-main {
    margin: 80px 0;
    font-size: 1rem;
    text-align: center;
}

    /* Left Section */

    /* Right Section */

/* Benefits Paragraph */
.benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.benefits article {
    margin: 20px;
    padding: 10px 16px 20px 16px;
    width: 240px;
    text-align: center;
    background-color: var(--color-background-neutral);
    box-shadow: 0 0 10px var(--color-border-grey);
}

.benefits article:hover {
    box-shadow: 0 0 6px var(--color-background-grey);
}

.benefits h3 {
    margin: 12px 0;
    font-size: 1.5rem;
    color: var(--color-text-themed);
}

.benefits p {
    font-size: 1.2rem;
}

.benefits img {
    width: 100%;
    height: 160px;
    object-fit: contain;
}

/* Footer */
footer {
    grid-area: footer;
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px 5% 20px 5%;
    box-shadow: 0px 0px 16px rgb(22, 73, 240);
    border-top: 3px solid white;
}

footer .trademark {
    margin-top: 20px;
    font-size: 14px;
}

.footerflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
}

footer hr{
    border: 1px solid rgb(88, 88, 88);
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}


/* Footer Links */

    /* Social Media */

.socialmedia ul{
    list-style: none;
    text-align: right;
    margin-top: 6px;
}
.socialmedia a{
    color: white;
    text-decoration: none;
}

.socialmedia a:hover{
    color: rgb(52, 118, 218);
}

    /* Quick Links (FAQ, Contact, PP, Cookies) */

.quicklinks {
    text-align: left;
}

.quicklinks ul {
    list-style-type: none;
    margin-top: 6px;
}

.quicklinks a{
    color: white;
    text-decoration: none;
}

.quicklinks a:hover{
    color: rgb(52, 118, 218);
}
